<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lee.dao.SettlementDao">
	<resultMap id="BaseResultMap" type="com.lee.pojo.Settlement">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="settlementdate" property="settlementdate"
			jdbcType="DATE" />
	</resultMap>
	<sql id="Base_Column_List">
		id, settlementdate
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from settlement_t
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from settlement_t
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.lee.pojo.Settlement">
		insert into settlement_t (id, settlementdate)
		values (#{id,jdbcType=INTEGER}, #{settlementdate,jdbcType=DATE})
	</insert>
	<insert id="insertSelective" parameterType="com.lee.pojo.Settlement">
		insert into settlement_t
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="settlementdate != null">
				settlementdate,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="settlementdate != null">
				#{settlementdate,jdbcType=DATE},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.lee.pojo.Settlement">
		update settlement_t
		<set>
			<if test="settlementdate != null">
				settlementdate = #{settlementdate,jdbcType=DATE},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.lee.pojo.Settlement">
		update settlement_t
		set settlementdate = #{settlementdate,jdbcType=DATE}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="count" resultType="java.lang.Integer">
		select count(id)
		from settlement_t
		where settlementdate = #{settlementDate,jdbcType=DATE}
	</select>
</mapper>